//Breakpoints sizes
$medium: 768px;
$large: 1024px;

//Breakpoints
$medium-up: "only screen and (min-width:#{$medium})";
$large-up: "only screen and (min-width:#{$large})";

//Mixins MediaQueries
@mixin medium {
	 @media #{$medium-up}{
		@content;
	}
}
@mixin large {
	 @media #{$large-up}{
		@content;
	}
}