.contingutReviewProducte {
	padding: 0 20px;
	margin: 50px auto;
	width: 100%;
	max-width: 1200px;
	box-sizing: border-box;

	h2 {
		margin: 0 0 30px;
	}

	p {
		padding: 0 10px;
		margin: 0;
	}

	li {
		margin: 10px 0;
		padding: 0 20px 0 0;
	}
}

.reviewIntro {

	&__info {
		margin: 50px 0 20px;
	}

	&__image {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
}

.reviewCaracteristicas {
	margin: 50px auto;
	width: 100%;

	ul {
		padding: 0 0 0 40px;
	}
}

.reviewAmazon1 {
	margin: 50px 0 0;
}

.reviewVentajas {
	margin: 50px 0 0;

	ul {
		padding: 0 0 0 40px;
	}

	li {
		text-align: justify;
	}
}

.reviewOtrosProductos {
	margin: 50px 0 0;
}

.reviewImatges {
	margin: 50px 0 0;

	img {
		width: 50%;
	}
}

.reviewVideo {
	text-align: center;
}

iframe {
	margin: 50px 0 0;
	width: calc(100% - 40px);
	height: 239px;
}

.reviewConclusiones {
	margin: 50px 0 0;
}

.reviewCompraFinal {
	margin: 50px 0 0;
}


/* RESPONSIVE */
@include medium {
	@import 'medium';
}
@include large {
	@import 'large';
}