/* SCROLL BAR */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: $verd; 
}


/* SELECCIO */
::selection {
  background: $carbassa;
}
::-moz-selection {
  background: $carbassa;
}


/* GENÈRICS */
header {
	text-align: center;
	font-family: Montserrat;
}

body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-family: Montserrat;
	font-weight: 400;
	height: 100%;
	width: 100%;
	color: $textos;
	overflow-x: hidden;
}

h1, h2, h3, h4 {
	font-family: Montserrat;
	font-weight: normal;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

p {
  font-size: 18px;
  text-align: justify;
}

a {
  text-decoration: none;
  color: $textos;
  font-weight: 500;
	
	&:hover {
		display: inline;
	  	color: $carbassa;
	}
}


.hidden {
  display: none;
}

.container {
	width: 100%;
}


/* HEADER */
.logoPortada {
	width: calc(100% - 40px);
	max-width: 1000px;
	padding: 0 20px;
}

.logoPetit {
	width: 500px;
	padding: 0 20px;
}

/* RESPONSIVE */
@include medium {
	@import 'medium';
}