/* SCROLL BAR */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: $verd;
}


/* SELECCIO */
::selection {
  background: $carbassa;
  color: $verd;
}
::-moz-selection {
  background: $carbassa;
  color: $verd;
}


/* GENÈRICS */
header {
	text-align: center;
	font-family: Montserrat;
}

body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-family: Montserrat;
	font-weight: 400;
	height: 100%;
	width: 100%;
	color: $textos;
	overflow-x: hidden;
}

h1, h2, h3, h4 {
	font-family: Montserrat;
	font-weight: normal;
	margin: 0;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 30px;
}

p {
  font-size: 18px;
  text-align: justify;

  a {
  	color: $carbassa;
  }
}

a {
  text-decoration: none;
  font-weight: 500;
  color: $textos;
	
	&:hover {
  	color: $carbassa;
		display: inline;
	  text-decoration: underline;
	}
}

ul {
	li {
		font-size: 20px;
	}
}

.hidden {
  display: none;
}

.container {
	width: 100%;
}

/* RESPONSIVE */
@include medium {
	@import 'medium';
}