footer {
	padding: 40px 0;

	div {
		padding: 0;
	}

}

.footer__MS {
	width: 50%;
	float: left;
	text-align: right;

	&::after {
		content: "-"
	}
}

.footer__webBy {
	width: 50%;
	float: left;
	text-align: left;
}