/* FOOTER */
footer {
	width: 100%;
	text-align: center;
	padding: 20px 0;
	margin: 50px 0 0 0;
	background-color: $verd;
	font-family: Montserrat;
	font-weight: 300;

	a {
		font-weight: 400;
		
		&:hover {
			color: black;
			text-decoration: underline;
		}
	}

	div {
		padding: 10px 0;
	}
}

.menuFooter {
	margin: 20px 0;
}

.footer__MS {
	width: 100%;
}

.footer__webBy {
	width: 100%;
}

/* RESPONSIVE */
@include medium {
	@import 'medium';
}